<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
	<title>trend | obama</title>
	<meta content='text/html;charset=utf-8'/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script src='/socket.io/socket.io.js'></script> 
	<!--<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>-->
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<script type="text/javascript" src="/js/d3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js" data-dojo-config='async: true'></script>
	<script src="/js/scripts/index.js"></script>
    </head>
    <body>

<header class="header" role="banner">
				<div class="container">
					<div class="navbar-header">
				<a class="navbar-brand" href="/profile">
						<p id="brand">trend</p>
</a>				
</div>
<ul class="nav navbar-nav navbar-right">
        <li id="li-user"><p>kevin me</p></li>
        <!--<li id="li-logout">
        	<a id="logout" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>-->
      </ul>
</div>
</header>
      <div class="container" style="top: 100px; position: relative;">
	<div class="content">
	    <div id='onefour'></div>
	</div>
      </div>
    </body>
</html>
