<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
	<title>trend | obama</title>
	<meta content='text/html;charset=utf-8'/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script src='/socket.io/socket.io.js'></script> 
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>-->
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<script type="text/javascript" src="/js/d3.min.js"></script>
	<script src="/js/scripts/index.js"></script>
    </head>
    <body>

<div id="app-container">
<div id="sidebar-container">
	<header class="sidebar-header">
		<div class="container">
					<div class="navbar-header">
				<a class="navbar-brand" href="/">
						<p class="brand">trend</p>
				</a>				
		</div>
	</header>
	<footer id="footer">
		<div class="wrapper">
	
		<ul id="footer-nav">
		<li><p id="copyright">© 2014 Kevin Me</p></li>
		<li><a href="http://inertance.herokuapp.com/" target="_blank" rel="nofollow">about me<i class="fa fa-external-link" style="
    padding-left: 5px;
    position: relative;
    /* top: 1px; */
"></i></a></li>
		</ul>
		</div>
	</footer>

</div>
<div id="dashboard-main-container" class="container-fluid">
<header class="header" role="banner">
				<div class="container">
					<div class="navbar-header">
				<a id="main-header-brand" class="navbar-brand" href="/">
						<p class="brand">trend</p>
</a>				
</div>
<form id="tracking-form" method="post" action="/" style="
    color: #CCC;
    top: 13px;
    position: relative;
"><i class="fa fa-twitter fa-2x"></i><input id="tracking-input" type="text" placeholder="enter a word or phrase to track..." style="
    border: none;
    background: none;
    width: 300px;
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 15px;
    outline: none;
"></form>
<ul class="nav navbar-nav navbar-right">
        <li id="li-user"><p><span style="color:#9696A7;">currently tracking</span> "obama"</p></li> <!--TODO: Update tag id-->
        <!--<li id="li-logout">
        	<a id="logout" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>-->
      </ul>
</div>
</header>
<div id="main-content-container" class="container">
	<div class="container text-center" style="width:100%;">
		<div class="row">
                <div id="language-graph-container" class="col-lg-6 col-sm-6">
                	<div id="language-graph-sizing-container">
                	<span><p style="
    color: white;
    position: absolute;
    top: 1px;
    left: 18px;
    font-size:12px;
    font-weight: bold;
">language distribution</p><div id="language-granularity-dropdown-container" class="dropdown">
					  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="language-granularity-dropdown" data-toggle="dropdown" aria-expanded="true">
					    per second
					    <span class="caret"></span>
					  </button>
					  <ul id="language-dropdown" class="dropdown-menu" role="menu" aria-labelledby="language-granularity-dropdown">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="seconds" onclick="setLanguageGranularity(this);">this second</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="minutes" onclick="setLanguageGranularity(this);">this minute</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="hours" onclick="setLanguageGranularity(this);">this hour</a></li>
					  </ul>
					</div>
               		<div id="languageGraph"></div>
               		</div>
                </div>
                <div id="source-graph-container" class="col-lg-6 col-sm-6">
                	<div id="source-graph"></div>
                	    <script>
function renderChart() {

var data = d3.csv.parse(d3.select('#csv').text());
var valueLabelWidth = 40; // space reserved for value labels (right)
var barHeight = 20; // height of one bar
var barLabelWidth = 100; // space reserved for bar labels
var barLabelPadding = 5; // padding between bar and bar labels (left)
var gridLabelHeight = 18; // space reserved for gridline labels
var gridChartOffset = 3; // space between start of grid and first bar
var maxBarWidth = 420; // width of the bar with the max value
 
// accessor functions 
var barLabel = function(d) { return d['Name']; };
var barValue = function(d) { return parseFloat(d['Population (mill)']); };
 
// sorting
var sortedData = data.sort(function(a, b) {
 return d3.descending(barValue(a), barValue(b));
}); 

// scales
var yScale = d3.scale.ordinal().domain(d3.range(0, sortedData.length)).rangeBands([0, sortedData.length * barHeight]);
var y = function(d, i) { return yScale(i); };
var yText = function(d, i) { return y(d, i) + yScale.rangeBand() / 2; };
var x = d3.scale.linear().domain([0, d3.max(sortedData, barValue)]).range([0, maxBarWidth]);
// svg container element
var chart = d3.select('#source-graph').append("svg")
  .attr('width', maxBarWidth + barLabelWidth + valueLabelWidth)
  .attr('height', gridLabelHeight + gridChartOffset + sortedData.length * barHeight);
// grid line labels
var gridContainer = chart.append('g')
  .attr('transform', 'translate(' + barLabelWidth + ',' + gridLabelHeight + ')'); 
gridContainer.selectAll("text").data(x.ticks(10)).enter().append("text")
  .attr("x", x)
  .attr("dy", -3)
  .attr("text-anchor", "middle")
  .attr('fill', 'white')
  .text(String);
// vertical grid lines
gridContainer.selectAll("line").data(x.ticks(10)).enter().append("line")
  .attr("x1", x)
  .attr("x2", x)
  .attr("y1", 0)
  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
  .style("stroke", "#ccc");
// bar labels
var labelsContainer = chart.append('g')
  .attr('transform', 'translate(' + (barLabelWidth - barLabelPadding) + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
labelsContainer.selectAll('text').data(sortedData).enter().append('text')
  .attr('y', yText)
  .attr('stroke', 'none')
  .attr('fill', 'white')
  .attr("dy", ".35em") // vertical-align: middle
  .attr('text-anchor', 'end')
  .text(barLabel);
// bars
var barsContainer = chart.append('g')
  .attr('transform', 'translate(' + barLabelWidth + ',' + (gridLabelHeight + gridChartOffset) + ')'); 
barsContainer.selectAll("rect").data(sortedData).enter().append("rect")
  .attr('y', y)
  .attr('height', yScale.rangeBand())
  .attr('width', function(d) { return x(barValue(d)); })
  .attr('stroke', '#1b1b24')
  .attr('fill', 'steelblue');
// bar value labels
barsContainer.selectAll("text").data(sortedData).enter().append("text")
  .attr("x", function(d) { return x(barValue(d)); })
  .attr("y", yText)
  .attr("dx", 3) // padding-left
  .attr("dy", ".35em") // vertical-align: middle
  .attr("text-anchor", "start") // text-align: right
  .attr("fill", "white")
  .attr("stroke", "none")
  .text(function(d) { return d3.round(barValue(d), 2); });
// start line
barsContainer.append("line")
  .attr("y1", -gridChartOffset)
  .attr("y2", yScale.rangeExtent()[1] + gridChartOffset)
  .style("stroke", "#000");

}
    </script>
    <script id="csv" type="text/csv">Name,Population (mill),Average Life Expectancy,Area (1000 sq mi),Continent
Canada,34,80.7,3854.085,America
US,308,78.2,3784.191,America
Germany,82,79.4,137.847,Europe
Russia,142,65.5,6601.668,Europe
Mexico,105,76.06,758.449,America
Brazil,193,71.99,3287.612,America
Spain,47,80.9,195.365,Europe
France,65,80.98,244.339,Europe
China,1339,73,3705.407,Asia
Australia,22,81.2,2969.907,Australia
UK,62,79.4,93.800,Europe</script>
    <script>renderChart();</script>
                </div>
            </div>
	</div>
	<div id="volume-graph-section-container" class="container">
	<div id="volume-graph-container">
	<span style="margin: 0 auto;
width: 160px;
display: inline-block;"><p style="
    color: white;
    top: 1px;
    left: 10px;
    font-size:12px;
    font-weight: bold;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
">volume</p><div id="volume-granularity-dropdown-container" class="dropdown">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="volume-granularity-dropdown" data-toggle="dropdown" aria-expanded="true">
    per second
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="volume-granularity-dropdown">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="seconds" onclick="setVolumeGranularity(this);">per second</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="minutes" onclick="setVolumeGranularity(this);">this minute</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="hours" onclick="setVolumeGranularity(this);">this hour</a></li>
  </ul>
</div></span>
</div>
</div>
	<div class="content">
	    <div><pre id="console"></pre></div>
	</div>
		<div class="content">
	    <div><pre id="console2"></pre></div>
	</div>
</div>
</div>
</div>
    </body>
</html>
