<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
	<title>trend | obama</title>
	<meta content='text/html;charset=utf-8'/>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
	<script src='/socket.io/socket.io.js'></script> 
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<!--<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-animate.min.js"></script>-->
	<script type="text/javascript" src="/js/googleanalytics.js"></script>
	<script type="text/javascript" src="/js/d3.min.js"></script>
	<script src="/js/scripts/index.js"></script>
    </head>
    <body>

<div id="app-container">
<div id="sidebar-container">
	<header class="sidebar-header">
		<div class="container">
					<div class="navbar-header">
				<a class="navbar-brand" href="/">
						<p class="brand">trend</p>
				</a>				
		</div>
	</header>
	<div id="todo-list" style="color: white;padding-top:30px;">
		<h6 style="left:20px; position: relative;">todo list</h6>
		<ul style="padding-right:10px;">
			<li>make source volume graph responsive</li>
			<li>animate source volume graph</li>
			<li>implement tracking word changing</li>
			<li>add trending topics worldwide to this side-bar</li>
			<li>add mobile menu</li>
			<li>clean up code</li>
			<li>anything i missed? email me at chekmanirov@gmail.com</li>
		</ul>
	</div>
	<footer id="footer">
		<div class="wrapper">
	
		<ul id="footer-nav">
		<li><p id="copyright">© 2014 Kevin Me</p></li>
		<li><a href="http://inertance.herokuapp.com/" target="_blank" rel="nofollow">about me<i class="fa fa-external-link" style="
    padding-left: 5px;
    position: relative;
    /* top: 1px; */
"></i></a></li>
		</ul>
		</div>
	</footer>

</div>
<div id="dashboard-main-container" class="container-fluid">
<header class="header" role="banner">
				<div class="container">
					<div class="navbar-header">
				<a id="main-header-brand" class="navbar-brand" href="/">
						<p class="brand">trend</p>
</a>				
</div>
<form id="tracking-form" method="post" action="/" style="
    color: #CCC;
    top: 13px;
    position: relative;
"><i class="fa fa-twitter fa-2x"></i><input id="tracking-input" type="text" placeholder="enter a word or phrase to track..." style="
    border: none;
    background: none;
    width: 300px;
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 15px;
    outline: none;
"></form>
<ul class="nav navbar-nav navbar-right">
        <li id="li-user"><p><span style="color:#9696A7;">currently tracking </span>
        	<span id="tracker">"<%= tracker %>"</span></p></li> <!--TODO: Update tag id-->
        <!--<li id="li-logout">
        	<a id="logout" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
        </li>-->
      </ul>
</div>
</header>
<div id="main-content-container" class="container">
	<div class="container text-center" style="width:100%;">
		<div class="row">
                <div id="language-graph-container" class="col-lg-6 col-sm-6">
                	<div id="language-graph-sizing-container">
                	<span><p style="
    color: white;
    position: absolute;
    top: 1px;
    left: 18px;
    font-size:12px;
    font-weight: bold;
">language distribution</p><div id="language-granularity-dropdown-container" class="dropdown">
					  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="language-granularity-dropdown" data-toggle="dropdown" aria-expanded="true">
					    per second
					    <span class="caret"></span>
					  </button>
					  <ul id="language-dropdown" class="dropdown-menu" role="menu" aria-labelledby="language-granularity-dropdown">
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="seconds" onclick="setLanguageGranularity(this);">this second</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="minutes" onclick="setLanguageGranularity(this);">this minute</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="hours" onclick="setLanguageGranularity(this);">this hour</a></li>
					  </ul>
					</div>
               		<div id="languageGraph"></div>
               		</div>
                </div>
                <div id="source-graph-container" class="col-lg-6 col-sm-6 center-text">
                	<p style="
   color: white;
position: relative;
font-size: 12px;
font-weight: bold;
text-align: center;
">volume by source</p>
                	<div id="source-graph"></div>
                </div>
            </div>
	</div>
	<div id="volume-graph-section-container" class="container">
	<div id="volume-graph-container">
	<span style="margin: 0 auto;
width: 160px;
display: inline-block;"><p style="
    color: white;
    top: 1px;
    left: 10px;
    font-size:12px;
    font-weight: bold;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
">volume</p><div id="volume-granularity-dropdown-container" class="dropdown">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="volume-granularity-dropdown" data-toggle="dropdown" aria-expanded="true">
    per second
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="volume-granularity-dropdown">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="seconds" onclick="setVolumeGranularity(this);">per second</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="minutes" onclick="setVolumeGranularity(this);">this minute</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-granularity="hours" onclick="setVolumeGranularity(this);">this hour</a></li>
  </ul>
</div></span>
</div>
</div>
	<p style="text-align:center; color:white;font-size:12px;
    font-weight: bold; padding-bottom: 20px;">raw data</p>
	<!--<div class="content">
	    <div><pre id="console"></pre></div>
	</div>-->
		<div class="content">
	    <div><pre id="console2"></pre></div>
	</div>
	<div class="content">
	    <div><pre id="console3"></pre></div>
	</div>
	<div class="content">
	    <div><pre id="console4"></pre></div>
	</div>
</div>
</div>
</div>
    </body>
</html>
