@media only screen 
and (min-width : 768px) {
/* full size */
#li-user {
	display: block !important;
}
}

body {
	background: #1b1b24;
}

header {
	background: #1b1b24;
	border-bottom: 2px solid white;
}

.navbar-header {
	float: left !important;
}

.navbar-brand {
	padding: 0 !important;
}

	.navbar-brand img {
		max-height: 100%;
	}
	
.navbar-right {
float: right!important;
margin: 0;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px;
}

.navbar-right li p {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
}

#logout {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

	#li-logout a:hover span{
		color: #428bca;
		}

#logout .glyphicon-log-out {
	color: white;
}

#li-user {
	display: none;
}

#brand {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
font-weight: bold;
font-size: 20pt;
padding-left:30px;
}


/*testing d3*/

svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

.tick text {fill: white;}
 
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

#volumeGraph {
	position:absolute;
	bottom: 0px;
	right: 0px;
	border-top: 1px solid white;
}
