@media only screen 
and (min-width : 768px) {
/* full size */
#li-user, #sidebar-container {
	display: block !important;
}

	#main-header-brand {
		display: none !important;
	}
}

@media only screen 
and (min-width : 480px) {
/* landscape */
	#tracking-form {
	display: block !important;
}

}

#tracking-form {
	display: none;
}

@media only screen
and (max-width : 767px) {
		#dashboard-main-container {
	left: 0px !important;
	width: 100% !important;
	}
}

body {
	background: #1b1b24;
}

header {
	/*background: #1b1b24;*/
	height: 52px;
	border-bottom: 2px solid white;
}

.sidebar-header {
	/*height:52px;*/
	/*border-bottom: 2x solid #1b1b24;*/
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-header {
	float: left !important;
}

.navbar-brand {
	padding: 0 !important;
}

	.navbar-brand img {
		max-height: 100%;
	}
	
.navbar-right {
float: right!important;
margin: 0;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px;
}

.navbar-right li p {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
}

#logout {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

	#li-logout a:hover span{
		color: #428bca;
		}

#logout .glyphicon-log-out {
	color: white;
}

#li-user {
	display: none;
	right: 30px;
	position: absolute;
	top: 0px;
}

.brand {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
font-weight: bold;
font-size: 20pt;
}


/*testing d3*/

svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

.tick text {fill: white;}
 
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

#volumeGraph {
	position:absolute;
	bottom: 0px;
	right: 0px;
	/*border-top: 1px solid white;*/
	width:100%;
}

#sidebar-container {
	height: 100%;
	width: 260px;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
	color: white;
	position: fixed;
	z-index: 1001;
	border-right: 2px solid white;
	
}

#dashboard-main-container {
	overflow-x: hidden;
	/*height: 100%;*/
	position: absolute;
	left: 260px;
	z-index: 1002;
	width: calc(100% - 260px);
}

#footer {
	bottom: 0px;
	position: absolute;
	width: 100%; 
    border: none; 
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 15px; 
    padding-right: 0px; 
    text-align: center;
    border-top: 1px solid white;
}

.wrapper {
	width: auto; 
	display: -moz-inline-stack; 
	display: inline-block; 
	vertical-align: middle; 
	zoom: 1;
}

#footer-nav {
	padding: 0px;
	list-style-type:none;
	font-weight: bold; 
	font-size: 12px; 
	line-height: 14px; 
	color: #fff; 
	font-weight: normal; 
	margin: 0px;
	display: -moz-inline-stack; 
	display: inline-block; 
	vertical-align: middle; 
	zoom: 1;
}

#footer-nav li {
	margin-right: 15px; 
	padding-right: 15px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	float: left;
}

#footer-nav li a {
	color: white !important;
}

#copyright {
 margin-bottom: 0px;
 color:lightgray;
}

#main-content-container {
padding-top: 20px;
bottom: 0px;
position: relative;
width: 100%;
padding-left: 0px;
padding-right: 0px;
}

#tracking-input:focus {
	color:white;
}

#volume-graph-container {
	position:relative;
	height: 140px;
	text-align: center;
}

#volume-granularity-dropdown-container {
	float:left;
}
	#volume-granularity-dropdown-container ul {
		font-size: 12px;
line-height: 1.5;
border-radius: 3px;
	}

#volume-granularity-dropdown {
	padding-top: 0px;
	padding-bottom: 0px;
}

#language-granularity {
	list-style-type: none;
color: white;
vertical-align: middle;
text-align: left;
position: relative;
float: left;
top: 95px;

}

#language-graph-sizing-container {
	width: 250px;
	height:300px;
left: 50%;
position: relative;
margin-left: -125px;
}

	#language-granularity span {
		padding-left:5px;
	}
	
#language-granularity-dropdown-container {
	left: 63px;
	padding-bottom: 5px;
}

	#language-granularity-dropdown-container ul {
		font-size: 12px;
line-height: 1.5;
border-radius: 3px;
	}

#volume-graph-section-container {
	width: 100%;
	padding-bottom: 50px;
}

#source-graph {
	/*top: 15px;*/
position: relative;
}

#source-graph svg {
	width: 100%;
}

#source-graph-container {
	height: 300px;
}

#alert-box {
	padding-top: 7px;
	padding-bottom: 7px;
	display: none;
}

.trend-link a {color: white;
word-break: break-word;}
