@media only screen 
and (min-width : 768px) {
/* full size */
#li-user, #sidebar-container {
	display: block !important;
}

	#main-header-brand {
		display: none !important;
	}
}

@media only screen
and (max-width : 767px) {
		#dashboard-main-container {
	left: 0px !important;
	width: 100% !important;
	}
}

body {
	background: #1b1b24;
}

header {
	/*background: #1b1b24;*/
	height: 52px;
	border-bottom: 2px solid white;
}

.sidebar-header {
	/*height:52px;*/
	/*border-bottom: 2px solid #1b1b24;*/
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-header {
	float: left !important;
}

.navbar-brand {
	padding: 0 !important;
}

	.navbar-brand img {
		max-height: 100%;
	}
	
.navbar-right {
float: right!important;
margin: 0;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px;
}

.navbar-right li p {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
}

#logout {
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

	#li-logout a:hover span{
		color: #428bca;
		}

#logout .glyphicon-log-out {
	color: white;
}

#li-user {
	display: none;
	right: 30px;
	position: absolute;
}

.brand {
	padding-top: 15px;
padding-bottom: 15px;
line-height: 20px;
margin: 0px;
color: white;
padding-right: 30px;
font-weight: bold;
font-size: 20pt;
}


/*testing d3*/

svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

.tick text {fill: white;}
 
.axis path,
.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
}

#volumeGraph {
	position:absolute;
	bottom: 0px;
	right: 0px;
	border-top: 1px solid white;
}

#sidebar-container {
	height: 100%;
	width: 260px;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
	color: white;
	position: absolute;
	z-index: 1001;
	border-right: 2px solid white;
	
}

#dashboard-main-container {
	overflow-x: hidden;
	height: 100%;
	position: absolute;
	left: 260px;
	z-index: 1002;
	width: calc(100% - 260px);
}
